@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>All Deparments</h1>

<br />
<br />

<a asp-action="Create" asp-controller="Department" class="btn btn-primary">Create Department</a>

<br />
<br />

@if (Model.Any())
{
    <table class="table table-hover table-striped table-light">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Date of Creation</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <!-- Button trigger modal -->
            @* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
            </button> *@

            @foreach(var department in Model)
            {
                <tr>
                    <td>@department.Code</td>
                    <td>@department.Name</td>
                    <td>@department.CreateAt</td>
                    <td><a class="btn btn-success" asp-route-id="@department.Id" asp-action="Details">Details</a></td>
                    <td><a class="btn btn-warning" asp-route-id="@department.Id" asp-action="Edit">Update</a></td>
                    <td><a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#department@(department.Id*3/100)">Delete</a></td>

                </tr>
                    <!-- Modal -->
                <div class="modal fade" id="department@(department.Id * 3 / 100)" tabindex="-1" aria-labelledby="departmentLabel@(department.Id * 3 / 100)" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content " width=106%;>
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="departmentLabel@(department.Id * 3 / 100)">Warning</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                Are You Sure You Want To Delete <strong>@department.Name</strong> Department?
                                    <br />
                                    You Can't Retreve This Data
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <form>
                                        <button type="submit" asp-route-id="@department.Id" asp-action="Delete" class="delete btn btn-danger">Delete Department</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            }
        </tbody>
    </table>
}

else
{
    <div class="mt-4 alert alert-primary">
        <h4>
            There Is No Departments :(
        </h4>
    </div>
}