@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
    var ViewDataMessage = ViewData["Message02"];
}

<h1>All Employees</h1>

<br />

@* <div class="mx-3 alert alert-danger"> *@
    @* <p>@ViewData["Message01"]</p>
    <p>@ViewData["Message02"]</p> *@
    <br />
    @* <p>@ViewBag.Message01</p>
    <p>@ViewBag.Message02</p> *@
    @* <p>@ViewDataMessage</p> *@
@* </div> *@

@if (!string.IsNullOrEmpty(TempData["Popup"] as string) )
{
    <div class="mx-3 alert alert-danger">
        <p>
            @TempData["Popup"]
        </p>
    </div>
}

<form class="mb-3 container">
    <div class="row flex justify-content-between">
        <input name="SearchInput" class="flex-column col-8 " id="SearchInput" asp-for="@ViewData["SearchInput"]" placeholder="Search By Name" />
        <input type="submit" class="btn btn-success flex-column col-1" value="Search" />
        <div class="col-2"></div>
    </div>
</form>

<a asp-action="Create" asp-controller="Employee" class="btn btn-primary">Add New Employee</a>

<br />
<br />

@if (Model.Any())
{
    <table class="table table-hover table-striped table-light">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>Active</th>
                <th>Deleted</th>
                <th>Hiring Date</th>
                <th>Created At</th>
                <th>Department</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            @foreach(var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Age</td>
                    <td>@employee.Email</td>
                    <td>@employee.Address</td>
                    <td>@employee.Phone</td>
                    <td>@employee.Salary</td>
                    <td>@employee.IsActive</td>
                    <td>@employee.IsDeleted</td>
                    <td>@employee.HiringDate</td>
                    <td>@employee.CreateAt</td>
                    <td>@(employee.WorkFor?.Name ?? "Not Assigned")</td>
                    <td><a class="btn btn-success" asp-route-id="@employee.Id" asp-action="Details">Details</a></td>
                    <td><a class="btn btn-warning" asp-route-id="@employee.Id" asp-action="Edit">Update</a></td>
                    <td><a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#department@(employee.Id * 3)">Delete</a></td>

                </tr>
                    <!-- Modal -->
                <div class="modal fade" id="department@(employee.Id * 3)" tabindex="-1" aria-labelledby="departmentLabel@(employee.Id * 3)" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content " width=106%;>
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="departmentLabel@(employee.Id * 3)">Warning</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                Are You Sure You Want To Delete <strong>@employee.Name</strong>?
                                    <br />
                                    You Can't Undo This Action
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <form>
                                    <button type="submit" asp-route-id="@employee.Id" asp-action="Delete" class="delete btn btn-danger">Delete Employee</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            }
        </tbody>
    </table>
}

else
{
    <div class="mt-4 alert alert-warning">
        <h4>
            There Is No Employees :(
        </h4>
    </div>
}